.latestNewsSection {
  &-a {
    .videoWrapper {
      video {
        object-fit: cover;
        width: 98.9vw;
        height: 60vh;
        // position: absolute;
        top: 0;
        left: 0;
        margin-top: 3rem;
      }
    }
  }
}
