.latestNewsSection {
  &-a {
    // background: url("/dist/videos/FIFA\ 20\ _\ Official\ Gameplay\ Trailer.mp4");
    // background-size: cover;
    // background-position-y: 60px;
    video {
      object-fit: cover;
      width: 98.9vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
