@media (max-width: 1100px) {
  .section {
    // exploreMoreGames
    &-b {
      .box {
        .image {
          img {
            height: 270px;
            width: 180px;
          }
        }
      }

      .viewMoreGames {
        .left {
          height: 2px;
          width: 18rem;
          left: 3%;
        }
        .right {
          height: 2px;
          width: 18rem;
          right: 3%;
        }
      }
    }

    // categories
    &-c {
      .categories {
        img {
          height: 130px;
          width: 130px;
        }
      }
    }

    // testimonials
    &-d {
      .testimonials {
        p {
          font-size: 0.75rem;

          &::before {
            // display: none;
            margin-bottom: -3rem;
            font-size: 4rem;
          }
        }
      }
    }

    // blog
    &-e {
      .newsGrid {
        .primaryGrid {
          .primaryBanner {
            img {
              height: 380px;
              width: 480px;
            }
          }
        }

        .innerGrid {
          margin-right: 2rem;

          h3 {
            font-size: 0.7rem !important;
          }
        }

        .secondaryGrid {
          h3 {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  // main heading
  .mainHeading {
    font-size: 1.3rem;
  }
  // buttons
  .btn {
    &-1 {
      font-size: 0.7rem;
      padding: 0.6rem 1.5rem;
      background: $main-color;
      border-radius: 20px;
      &:hover {
        opacity: 0.9;
      }
    }

    &-2 {
      font-size: 0.7rem;
      padding: 0.6rem 1.5rem;
      background: $main-color;
      border-radius: 20px;
    }
  }

  #main-header {
    .topbar {
      display: none;
    }

    .navbar {
      .navbarInner {
        height: 3rem;

        .logo {
          img {
            display: none;
            // margin-left: 10rem;
            // margin-right: 1rem;
          }
        }

        .menu {
          display: none;
        }

        .navigation {
          display: block;
          .navigation__checkbox {
            display: none;
            &:checked {
              ~ {
                .navigation__background {
                  transform: scale(90);
                }
                .navigation__nav {
                  opacity: 1;
                  width: 100%;
                }
              }
              + {
                .navigation__button {
                  .navigation__icon {
                    background-color: transparent;
                    &::before {
                      top: 0rem;
                      transform: rotate(135deg);
                    }
                    &::after {
                      top: 0;
                      transform: rotate(-135deg);
                    }
                  }
                }
              }
            }
          }
          .navigation__button {
            background-color: #000;
            height: 2rem;
            width: 2rem;
            position: fixed;
            top: 0.5rem !important;
            left: 0.4rem;
            border-radius: 50%;
            z-index: 2000;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
            text-align: center;
            cursor: pointer;
            // transition: hover 0.8s cubic-bezier(0.86, 0, 0.07, 1);
            &:hover {
              .navigation__icon {
                &::before {
                  top: -0.4rem;
                }
                &::after {
                  top: 0.4rem;
                }
              }
            }
          }
          .navigation__background {
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            position: fixed;
            top: 0.9rem !important;
            left: 1.2rem;
            background-image: radial-gradient($main-color, $main-color);
            z-index: 1000;
            transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
          }
          .navigation__nav {
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 1500;
            opacity: 0;
            width: 0;
            transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          }
          .navigation__list {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            list-style: none;
            text-align: center;
            width: 100%;
          }
          .navigation__item {
            margin: 0.7rem;
          }
          .navigation__link {
            &:link {
              display: inline-block;
              font-size: 1rem;
              font-weight: 300;
              padding: 1rem 2.2rem;
              color: #fff;
              text-decoration: none;
              text-transform: uppercase;
              background-image: linear-gradient(
                120deg,
                transparent 0,
                transparent 50%,
                #fff 50%
              );
              background-size: 225%;
              transition: all 0.4s;
              span {
                margin-right: 1.5rem;
                display: inline-block;
              }
            }
            &:visited {
              display: inline-block;
              font-size: 3rem;
              font-weight: 300;
              padding: 1rem 2rem;
              color: #fff;
              text-decoration: none;
              text-transform: uppercase;
              background-image: linear-gradient(
                120deg,
                transparent 0,
                transparent 50%,
                #fff 50%
              );
              background-size: 225%;
              transition: all 0.4s;
              span {
                margin-right: 1.5rem;
                display: inline-block;
              }
            }
            &:hover {
              background-position: 100%;
              color: #55c57a;
              transform: translateX(1rem);
            }
            &:active {
              background-position: 100%;
              color: #55c57a;
              transform: translateX(1rem);
            }
          }
          .navigation__icon {
            position: relative;
            margin-top: 1rem;
            width: 1.2rem;
            height: 2px;
            background-color: #fff;
            display: inline-block;
            &::before {
              width: 1.2rem;
              height: 2px;
              background-color: #fff;
              display: inline-block;
              content: "";
              position: absolute;
              left: 0;
              transition: all 0.2s;
              top: -0.4rem;
            }
            &::after {
              width: 1.2rem;
              height: 2px;
              background-color: #fff;
              display: inline-block;
              content: "";
              position: absolute;
              left: 0;
              transition: all 0.2s;
              top: 0.4rem;
            }
          }
          form {
            position: absolute;
            bottom: 9rem;
            left: 1.1rem;

            input {
              position: fixed;
              width: 88%;
              padding: 1rem 0.7rem 1rem 2rem;
              border: none;
              color: #ccc;
              background: url("/images/icons/icons8-search-24.png") no-repeat;
              background-position: 10px 17px;
              background-color: #f5f5f6;
              border-radius: 50px;

              &:focus {
                outline: none;
                color: #1b1b1b;
                background-color: #fff;
              }
            }
          }
          @media (max-width: 56.25em) {
            .navigation__button {
              top: 4rem;
              right: 4rem;
            }
            .navigation__background {
              top: 4.5rem;
              right: 4.5rem;
            }
          }
          @media (max-width: 37.5em) {
            .navigation__button {
              top: 3rem;
              right: 3rem;
            }
            .navigation__background {
              top: 3.5rem;
              right: 3.5rem;
            }
          }
        }

        .searchBar {
          display: none;
        }

        .actions {
          margin-left: 12rem;

          img {
            height: 25px !important;
            width: 25px !important;
          }

          .shoppingCart {
            padding: 0rem 0.7rem 0rem 0rem;
          }

          .wishList {
            padding: 0rem 0.3rem;
          }

          .userAccount {
            padding: 0rem 0.3rem;
          }
        }
      }
    }
  }

  .section {
    // main banner
    &-a {
      .item {
        &-a {
          height: 60vh;
          background-size: cover;
        }

        &-b {
          height: 60vh;
          background-size: cover;
        }
      }
      li {
        .bannerTitle {
          h2 {
            font-size: 2rem;
          }

          h3 {
            font-size: 0.7rem;
          }
        }

        .bannerBtn {
          a {
            margin: 0rem 0.3rem;
          }
        }
      }
    }
    // exploreMoreGames
    &-b {
      .box {
        margin: 1rem 0.6rem 0rem 0.6rem;
        .image {
          img {
            height: 220px;
            width: 150px;
          }
        }

        .title {
          h3 {
            font-size: 0.6rem;
          }
        }

        .avilableOn {
          .platform {
            img {
              height: 15px;
              width: 15px;
            }
          }
        }

        .gameRating {
          img {
            height: 15px;
            width: 10px;
          }
        }
      }

      .viewMoreGames {
        .left,
        .right {
          width: 4.5rem;
        }
      }
    }

    // categories
    &-c {
      .categories {
        padding-top: 1rem;

        img {
          height: 100px;
          width: 100px;
          margin: 0rem 0.5rem;
        }

        h3 {
          font-size: 0.6rem;
        }
      }
    }

    // testimonials
    &-d {
      h2 {
        font-size: 1.1rem;
      }

      #desktopOnly {
        display: none;
      }

      #mobileOnly {
        display: block;
      }

      .testimonials {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0rem;

        .box {
          margin-left: 1rem;
          p {
            font-size: 0.6rem;
            margin: 0rem 1rem;
          }
        }
      }
    }

    // latest news blog
    &-e {
      display: none;
    }

    // newsletter
    &-f {
      padding: 1rem 0rem !important;
      h2 {
        font-size: 1.1rem;
      }
      p {
        font-size: 0.7rem;
      }

      .inputArea {
        padding: 1rem 0rem;

        input {
          padding: 1rem 1rem;
          margin-bottom: 1rem;
          font-size: 0.9rem;
        }
      }
    }
  }

  footer {
    text-align: center;
    .contact {
      margin-bottom: 0rem !important;
      h2 {
        margin-bottom: 0rem;
      }
      .info {
        // display: block;

        li {
          display: block;
          margin: 0rem;
        }
        .fa {
          display: none;
        }

        span {
          margin-left: 1rem;
        }
      }
    }
  }

  .text {
    padding: 10px 0px 10px 0px;
    p {
      font-size: 0.7rem;
    }
  }

  // contact-us page
  .Contactcontainer {
    padding: 10px 30px;
  }
  .contact-box {
    .contactLeft {
      display: none;
    }

    .contactRight {
      padding: 40px 22px;
    }

    .contactHeading {
      margin-bottom: 1.5rem;
      font-size: 1.3rem;
    }
  }
}
